/* latin-ext */
@font-face {
    font-family: 'Black Ops One';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Black_Ops_One/qWcsB6-ypo7xBdr6Xshe96H3aDXbtwkh.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Black Ops One';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Black_Ops_One/qWcsB6-ypo7xBdr6Xshe96H3aDvbtw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Share_Tech_Mono/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@-webkit-keyframes swible {
    0% {
        transform: perspective(600px) rotateY(0deg);
    }
    25% {
        transform: perspective(600px) rotateY(45deg);
    }
    50% {
        transform: perspective(600px) rotateY(0deg);
    }
    75% {
        transform: perspective(600px) rotateY(-45deg);
    }
    100% {
        transform: perspective(600px) rotateY(0deg);
    }
}

.logoCont {
    position: absolute;
    margin-left: -150px;
    margin-top: -63px;
    left: 50%;
    top: 30%;
    width: 320px;
    -webkit-animation: swible 3s infinite;
    font-family: 'Black Ops One', cursive;
    Color: white;
}

.logoCont span {
    font-size: 2rem;
    margin-right: -100px;
}

.logoCont > &:hover {
    cursor: pointer;
}

.cover {
    position: absolute;
    height: 130px;
    width: 300px;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, .01);
}

.block, .block3 {
    font-size: 7rem;
    text-align: center;
    margin-left: -1px;
    border: 1px solid gray;
    width: 100px;
    height: 8rem;
    float: left;
    overflow: hidden;
}

.block > &:hover , .block3 > &:hover {
    cursor: pointer;
    -webkit-animation: swible 3s;
}

.block3 {
    height: 5.7rem;
    font-size: 6.5rem;
    line-height: 6rem;
}

@-webkit-keyframes blink {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body {
    background-color: #151515;
    color: #eee;
    font-family: "Share Tech Mono", monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}

.password {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.granted {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
}

.info p, .admininfo p {
    margin: 10px;
}

.admininfo {
    position: absolute;
    top: 100px;
    left: 15px;
    font-size: 16px;
}

.admininfo p {
    font-size: 14px;
}

.button {
    background-color: #111;
    border: solid 1px #888;
    padding: 8px 25px;
    font-size: 26px;
    letter-spacing: 2px;
    cursor: pointer;
}

.admin {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color:white;
    text-decoration: none;
}

.logout {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color:white;
    text-decoration: none;
}

.upload {
    position: absolute;
    top: 15px;
    left: 15px;
    color:white;
    text-decoration: none;
}

.block_rerun {
    position: absolute;
    top: 60%;
    left: 50%;
}

.reset {
    margin-left: 170px;
    margin-top: -10px;
    font-size: 12px;
    background-color: #111;
    border: solid 1px #888;
    padding: 2px 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.start {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blink {
    -webkit-animation: blink 0.8s steps(1, start) infinite alternate;
    animation: blink 0.8s steps(1, start) infinite alternate;
}

.table {
    position: absolute;
    left: 50%;
    margin-top: 50px;
    width: 400px;
    margin-left: -200px;
    text-align: center;
}

.table table {
    margin-top: 15px;
    padding: 15px;
    background-color: #111;
    border: solid 1px #888;
    width:100%;
}

.table table thead {
    height:50px;
    vertical-align: top;
    text-align: center;
}

table .download:hover {
    color: #fff;
    background-color: #f26616;
}

table .download {
    display: inline-block;
    padding: .3125rem .4375rem;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .1875rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #f58646;
}

.login-form {
    position: absolute;
    left: 50%;
    top: 60%;
    width:300px;
    margin-left: -150px;
    padding: 15px;
    background-color: #111;
    border: solid 1px #888;
}

.login-form i {
    font-size:12px;
}

.login-form div {
    width: 300px;
}

.login-form input {
    width: 68%;
}

.submit {
    margin-top:20px;
    font-size: 14px;
    background-color: #111;
    border: solid 1px #888;
    letter-spacing: 1px;
    cursor: pointer;
    color:white;
}

#username {
    margin-bottom:15px;
}

.error {
    color:red;
    margin-top:15px;
}

.isadmin {
    color:darkred;
    font-weight:bold;
}